/* $top = 0  */
@import "~antd/dist/antd.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-height: 20vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
}

.seats-container {
  margin: 50px auto;
  position: relative;
  width: 892px;
  height: 600px;
}

.square {
  position: absolute;
  height: 50px;
  width: 50px;
}

.seat {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

.legend-container {
  margin: 0 auto;
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

.legend {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 5px;
}

li:nth-child(2) .legend {
  background-color: grey;
}

li:nth-child(3) .legend {
  background-color: orange;
}

.btn-legend {
  height: 50px;
  width: 230px;
  background-color: #fff;
  border: 1px solid black;
}
